[submodule "DragAndDropTexturing/BoneReadingCore"]
	path = DragAndDropTexturing/BoneReadingCore
	url = https://github.com/Sebane1/BoneReadingCore.git
[submodule "LooseTextureCompilerCore"]
	path = LooseTextureCompilerCore
	url = https://github.com/Sebane1/LooseTextureCompilerCore.git
[submodule "DragAndDropTexturing/IPC/PenumbraAndGlamourerHelpers"]
	path = DragAndDropTexturing/IPC/PenumbraAndGlamourerHelpers
	url = https://github.com/Sebane1/PenumbraAndGlamourerHelpers.git
[submodule "DragAndDropTexturing/ThreadSafeDalamudObjectTable"]
	path = DragAndDropTexturing/ThreadSafeDalamudObjectTable
	url = https://github.com/ShiftyKiwi/ThreadSafeDalamudObjectTable.git
